/dataset/
/crema/
/savee/
/tess/
ds201-doan.ipynb
speech-emotion-recognition.ipynb
/vgg_model/VGG_model.weights.h5
/vgg_model/VGG_model.json
/cnn_model/CNN_model.weights.h5
/cnn_model/CNN_model.json
/cnn_model/best_model1_weights.keras
/cnn_model/encoder2.pickle
/cnn_model/scaler2.pickle
/lstm_model/LSTM_model.weights.h5
/lstm_model/LSTM_model.json
/lstm_model/best_model1_weights.keras
demo.py
DS201_SER.pdf